<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <tab id="mavenbird" translate="label" sortOrder="100">
            <label>Mavenbird Extensions</label>
        </tab>

        <section id="mfxmlsitemap"
                 translate="label"
                 sortOrder="20"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <tab>mavenbird</tab>
            <label>XML Sitemap</label>
            <resource>Mavenbird_XmlSitemap::config</resource>

            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>

                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="key"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Product Key</label>
                </field>

            </group>
        </section>
    </system>
</config>
